REGISTRATION_ENV_FILE=./.env.example

ASPNETCORE_ENVIRONMENT=Production
DOTNET_ENVIRONMENT=Production

Mongo__ConnectionString=mongodb://mongo:27017
Mongo__MasterDatabaseName=SaasMasterDb

Jwt__SigningKey=123456789123456789123456789123456
Master__ProvisioningApiKey=123456789

RabbitMQ__HostName=rabbitmq
RabbitMQ__Port=5672
RabbitMQ__UserName=guest
RabbitMQ__Password=guest
RabbitMQ__VirtualHost=/
RabbitMQ__ScanIntervalMinutes=60

Registration__PublicApiBaseUrl=http://localhost:8082

TenantDefaultSmtp__Host=smtp.gmail.com
TenantDefaultSmtp__Port=587
TenantDefaultSmtp__Usuario=contato.asfsolutions@gmail.com
TenantDefaultSmtp__Senha=zurq wvwq rckk xvom
TenantDefaultSmtp__EmailRemetente=contato.asfsolutions@gmail.com
TenantDefaultSmtp__NomeRemetente=Lightcode
TenantDefaultSmtp__UsarSsl='true'

Smtp__UseSmtp=false
Smtp__Host=
Smtp__Port=587
Smtp__Usuario=
Smtp__Senha=
Smtp__EmailRemetente=
Smtp__NomeRemetente=Lightcode
Smtp__UsarSsl=false
