REGISTRATION_ENV_FILE=./.env.example

ASPNETCORE_ENVIRONMENT=Production
DOTNET_ENVIRONMENT=Production

Mongo__ConnectionString=mongodb://mongo:27017
Mongo__MasterDatabaseName=SaasMasterDb

Jwt__SigningKey=123456789123456789123456789123456
Security__TenantSigningKeyEncryptionKey=123456789123456789123456789123456
Master__ProvisioningApiKey=123456789

MasterSmtp__UseSmtp=false
MasterSmtp__Host=
MasterSmtp__Port=587
MasterSmtp__Usuario=
MasterSmtp__Senha=
MasterSmtp__EmailRemetente=
MasterSmtp__NomeRemetente=Lightcode
MasterSmtp__UsarSsl=true

RabbitMQ__HostName=rabbitmq
RabbitMQ__Port=5672
RabbitMQ__UserName=guest
RabbitMQ__Password=guest
RabbitMQ__VirtualHost=/
RabbitMQ__ScanIntervalMinutes=60

Registration__PublicApiBaseUrl=http://localhost:8080
Cors__AllowedOrigins__0=http://localhost:8080
Cors__AllowedOrigins__1=http://localhost:5173

TenantDefaultSmtp__Host=smtp.gmail.com
TenantDefaultSmtp__Port=587
TenantDefaultSmtp__Usuario=contato.asfsolutions@gmail.com
TenantDefaultSmtp__Senha=zurq wvwq rckk xvom
TenantDefaultSmtp__EmailRemetente=contato.asfsolutions@gmail.com
TenantDefaultSmtp__NomeRemetente=Lightcode
TenantDefaultSmtp__UsarSsl='true'

Smtp__UseSmtp=true
Smtp__Host=
Smtp__Port=587
Smtp__Usuario=
Smtp__Senha=
Smtp__EmailRemetente=
Smtp__NomeRemetente=Lightcode
Smtp__UsarSsl=false
