ASPNETCORE_ENVIRONMENT=Production
DOTNET_ENVIRONMENT=Production

Mongo__ConnectionString=mongodb://mongo:27017
Mongo__MasterDatabaseName=SaasMasterDb

Jwt__SigningKey=CHANGE_ME_WITH_A_LONG_RANDOM_SECRET
Security__TenantSigningKeyEncryptionKey=CHANGE_ME_WITH_A_LONG_RANDOM_SECRET_DIFFERENT_FROM_JWT
Master__ProvisioningApiKey=CHANGE_ME_WITH_A_LONG_RANDOM_SECRET

RabbitMQ__HostName=rabbitmq
RabbitMQ__Port=5672
RabbitMQ__UserName=CHANGE_ME
RabbitMQ__Password=CHANGE_ME
RabbitMQ__VirtualHost=/
RabbitMQ__ScanIntervalMinutes=60

Registration__PublicApiBaseUrl=http://your-domain-or-ip:8082
Cors__AllowedOrigins__0=http://your-frontend-domain-or-ip
Cors__AllowedOrigins__1=http://localhost:8080

TenantDefaultSmtp__Host=
TenantDefaultSmtp__Port=587
TenantDefaultSmtp__Usuario=
TenantDefaultSmtp__Senha=
TenantDefaultSmtp__EmailRemetente=
TenantDefaultSmtp__NomeRemetente=Lightcode
TenantDefaultSmtp__UsarSsl=true

Smtp__UseSmtp=true
Smtp__Host=
Smtp__Port=587
Smtp__Usuario=
Smtp__Senha=
Smtp__EmailRemetente=
Smtp__NomeRemetente=Lightcode
Smtp__UsarSsl=true
